.planning{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: white;
}

.control-container{
    background-color: rgb(245, 245, 245);
}

.PlanningGridcontainer{
    padding: 0px 20px 0 20px;
}