.PA-planning {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: white;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.PA-control-container {
    background-color: rgb(245, 245, 245);
}

.PA-PlanningGridcontainer {
    padding: 0px 20px 0 20px;
}

.PA-empty-planning-message {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .PA-firstColumnHeader {
        font-size: 12px;
    }
    .PA-headerDate {
        font-size: 12px;
    }
    .PA-headerName {
        font-size: 8px;
    }
    .PA-firstColumn{
        font-size: 14px;
    }
}