.PA-subheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
  /* padding: 10px 15px 0 15px; */
}

.PA-Info-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 650px; */
  min-width: 60%;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}

.PA-staff {
  display: flex;
  padding: 5px;
  gap: 5px;
}

.PA-store {
  display: flex;
  padding: 5px;
  gap: 5px;
}

.PA-status {
  display: flex;
  padding: 5px;
  gap: 5px;
}

.PA-image {
  width: 23px;
  height: 23px;
}

.PA-select-button {
  padding: 0.67rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #FF710C;
  border: none;
  border-radius: 4px;
  width: 100px;
  cursor: pointer;
  float: right;
}

.PA-dateRange {
  display: flex;
  padding: 0.67rem 1.5rem;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid hsl(0, 0%, 80%);
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.PA-lefticone {
  cursor: pointer;
}

.PA-righticone {
  cursor: pointer;

}

.PA-eventIcon {
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.PA-leftSide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

